* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: #e2e8f0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
svg {
  cursor: pointer;
}
.container {
  display: grid;
}
.main.container {
  grid-template-columns: 300px 1fr;
  grid-template-rows: 200px 1fr;
  grid-template-areas: "sidebar header" "sidebar main";
  min-height: 100vh;
}
.sidebar {
  grid-area: sidebar;
  background-color: #1992d4;
  color: #ffffff;
  font-size: 1.5rem;
  grid-template-rows: 100px 1fr;
  font-weight: bold;
  padding-left: 20px;
}
nav.container {
  grid-template-rows: 1fr 1fr;
  max-height: 100vh;
}
.upper.container,
.lower.container {
  gap: 15px;
  align-self: start;
}
.sidebar li,
.logo {
  display: grid;
  gap: 15px;
  grid-template-columns: 48px 1fr;
  align-items: center;
}
.logo {
  font-size: 2rem;
}
.sidebar svg {
  grid-column: 1/2;
  height: 36px;
}
.sidebar .logo svg {
  height: 48px;
}
.sidebar a {
  grid-column: 2/3;
}
.sidebar a:hover {
  color: #f0b325;
}
header {
  grid-area: header;
  background-color: #ffffff;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 1fr;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 20px 40px;
  align-content: center;
}
.search {
  grid-template-columns: 24px 1fr;
  grid-template-rows: 40%;
  gap: 15px;
  align-content: center;
}
.search button {
  border: none;
  background: transparent;
}
.search svg {
  height: 24px;
  cursor: pointer;
  /*align-self: center;*/
}
.search input {
  grid-row: 1;
  grid-column: 2;
  background-color: #e2e8f0;
  border: none;
  border-radius: 25px;
  width: 95%;
}
.profile {
  grid-template-columns: minmax(30px, 1fr) minmax(50px, 1fr) 3fr;
  justify-self: end;
  justify-items: end;
  align-items: center;
  gap: 30px;
}
.profile .avatar {
  height: 50px;
  cursor: pointer;
}
.profile svg {
  height: 30px;
}
.profile .name {
  font-size: 1.25rem;
  font-weight: bold;
}
.profile .name:hover {
  color: #505050;
  cursor: pointer;
}
.greetings {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 5px;
  column-gap: 20px;
}
.greetings .avatar {
  height: 80px;
  grid-column: 1;
  grid-row: 1 / span 2;
}
.greetings p {
  font-weight: bold;
}
.greetings .greeting {
  grid-column: 2;
  align-self: end;
}
.greetings .name {
  align-self: start;
  font-size: 1.75rem;
  grid-column: 2;
  grid-row: 2;
}
header .controls {
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 15px;
}
header .controls > button {
  font-weight: bold;
  background-color: #1992d4;
  color: #ffffff;
  font-size: 1.25rem;
  padding: 0.5em 1.5em;
  border: none;
  border-radius: 1.5em;
  cursor: pointer;
}
header .controls > button:hover {
  transform: scale(1.1);
}
main {
  grid-area: main;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px;
  padding: 40px 30px;
}
div.projects,
div.announcements,
div.trending {
  grid-template-rows: 30px 1fr;
  gap: 10px;
}
div.projects {
  grid-column: 1;
  grid-row: 1 / 3;
}
div.announcements {
  grid-column: 2;
  grid-row: 1;
}
div.trending {
  grid-column: 2;
  grid-row: 2;
}
ul.projects {
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 200px;
  gap: 30px;
}
.projects li.card {
  display: grid;
  background-color: #ffffff;
  border-radius: 10px;
  border-left: 10px solid #f0b325;
  padding: 30px;
  grid-template-rows: 3fr 1fr;
  max-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}
.announcements li.card:hover,
.trending li.card:hover,
.projects li.card:hover {
  transform: scale(1.05);
}
.card p {
  color: #505050;
}
.projects li.card .controls {
  margin-left: auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.projects li.card .controls button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.projects li.card .controls button:hover {
  transform: scale(1.2);
}
.projects li.card .controls svg {
  height: 28px;
}
ul.trending,
ul.announcements {
  background-color: #ffffff;
  padding: 40px;
  row-gap: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

ul.trending,
ul.announcements > li {
  cursor: pointer;
}
ul.announcements > li:not(:last-child) {
  border-bottom: 2px solid #dadada;
}
.announcements .card p {
  font-size: 1rem;
}
ul.trending .card {
  grid-template-columns: 50px 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  font-size: 1.25rem;
}
ul.trending .card .avatar {
  height: 50px;
  grid-row: 1/3;
  grid-column: 1;
}
